body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
}

canvas {
  min-width: 75vw;
  max-height: 45vw;
}

.bottomNav {
  width: 400px;
  display: flex;
  justify-content: space-between;
}
