body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
}

canvas {
  min-width: 75vw;
  max-height: 45vw;
}

.bottomNav {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#soundButton {
  height: 40px;
  width: 90px;
  border-radius: 10px;
  background-color: #ffec19;
  font-weight: 700;
  font-size: 12px;
  outline: none;
  border: 1px solid black;
}
#soundButton:hover {
  background-color: #dbcb18;
}
